@font-face {
  font-display: swap;
  font-family: 'DM Serif Display';
  src: local('DM Serif Display'),
    url('/assets/fonts/DMSerifDisplayRegular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Newsreader';
  font-weight: 400;
  src: local('Newsreader'),
    url('/assets/fonts/NewsreaderRegular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Newsreader';
  font-weight: 500;
  src: local('Newsreader'),
    url('/assets/fonts/NewsreaderSemiBold.woff2') format('woff2');
}
:root {
  --primary-color: #e23a3a;
  --font-logo: 'DM Serif Display', serif;
  --font-article: 'Newsreader', serif;
  --font-r: 400;
  --font-sm: 500;
}

:root.light {
  --text-color: #313131;
  --text-color-gray: #828282;
  --background-color: #f1f1f1;
  --background-color-2: #ffffff;
  --gray-color: #dbdbdb;
  --gray-color-2: #cfcfcf;
  --input-color: #f5f5f5;
}
:root.dark {
  --text-color: #f1f1f1;
  --text-color-gray: #c2c2c2;
  --background-color: #242424;
  --background-color-2: #1b1b1b;
  --gray-color: #3d3d3d;
  --gray-color-2: #595959;
  --input-color: #282828;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: .1rem solid red; */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
}

input {
  background-color: var(--input-color);
  border: 0.1rem solid var(--gray-color-2);
  color: var(--text-color);
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
}

.message_default {
  font-weight: bold;
  margin: 40px 0;
  text-align: center;
}

.message_default span {
  color: var(--primary-color);
}
